.confidential-main, .secret-files-main{
    margin: 2px;
    display: inline-block;
    color: darkred;
}

#secret-files, #conidential{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    filter: blur(2);
    transform: rotate(45deg);
    border-color: brown;
}

.blurred{
    filter: blur(4px);
    color: seashell;

}
.main-title{
    font-size: 20px;
    font-weight: bold;

}
#signIn-btn{
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 0;
    padding: 0 16px;
    background-color: #f8f9fa;
    
}
#signIn-btn:hover{
    cursor: pointer;
    background-color: #2a2a2b;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: scaleY(2);
    cursor: url("Crosshair Cursor.jpg"), crosshair;;
}
nav ul{
    padding: 0;
    list-style: none;
}
nav ul li{
    display: inline;
    margin: 0 1em;
}
.navbar{
    text-decoration: none;
    color: #efc94a;
}
.bond-quote{
    line-height: 1.2;
    font-style: italic;
    color: seashell;
}